<div class="navbar bg-black/60 backdrop-blur-sm sticky top-0 z-50">
  <div class="w-full">
    <div class="mx-auto flex w-full max-w-6xl items-center gap-8">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl font-lora text-white">World of Aletheia</a>
      </div>
      <ul class="menu menu-horizontal px-1 text-white gap-2 justify-center">
        <li><a href="/" class="hover:text-gray-200">Home</a></li>
        <li><a href="/sentients" class="hover:text-gray-200">Sentients</a></li>
        <li><a href="/places" class="hover:text-gray-200">Places</a></li>
        <li><a href="/factions" class="hover:text-gray-200">Factions</a></li>
        <li><a href="/creatures" class="hover:text-gray-200">Creatures</a></li>
        <li><a href="/lore" class="hover:text-gray-200">Lore</a></li>
        <li><a href="/sessions" class="hover:text-gray-200">Sessions</a></li>
        <li><a href="/campaigns" class="hover:text-gray-200">Campaigns</a></li>
        <li><a href="/systems" class="hover:text-gray-200">Systems</a></li>
        <li><a href="/gurps" class="hover:text-gray-200">GURPS</a></li>
      </ul>
      <div class="flex-1"></div>
    </div>
  </div>
</div>
