---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<header class="bg-base-100 pb-4">
  <div class="container mx-auto px-4 py-8 text-center">
    <h1 class="text-4xl font-bold text-gray-900 mb-4">{title}</h1>
    {description && <p class="text-xl text-gray-600">{description}</p>}
  </div>
</header>