openapi: 3.1.2
info:
  title: World of Aletheia Public Spell Read API
  version: 1.0.0
  summary: Public read-only spell contract for public HTTP consumers.
  description: >-
    Authoritative Workstream B1 contract for public spell reads. The canonical
    deployed public boundary for this contract is `https://worldofaletheia.com/api/v1/*`.
    The spell routes are intended to be public and unauthenticated at the HTTP layer,
    with rate limiting or similar protections handled at the Cloudflare edge. The
    contract remains intentionally limited to read-only public spell data and excludes
    admin APIs, browser-side D1 access, and main-site implementation details.
servers:
  - url: https://worldofaletheia.com
    description: Canonical public production origin for the v1 public spell API.
tags:
  - name: Public Spells
    description: Public read-only spell catalog operations.
paths:
  /api/v1/spell-types:
    get:
      operationId: listSpellTypes
      tags:
        - Public Spells
      summary: List active spell types
      description: >-
        Returns active public spell type labels ordered by canonical spell type sort
        order. Only active spell types are returned. If no active dataset is
        initialized, the response is an empty array. No authentication is required
        for this route in the current public rollout.
      responses:
        '200':
          description: Ordered active spell type labels.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicSpellType'
              examples:
                default:
                  value:
                    - Adventurer Spells
                    - Ageing Spells
                    - Air Spells
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/source-spell-types:
    get:
      operationId: listSourceSpellTypes
      tags:
        - Public Spells
      summary: List source spell types
      description: >-
        Returns canonical source spell type labels. These labels represent
        source-lineage metadata rather than active classification facets. If no
        active dataset is initialized, the response is an empty array. No
        authentication is required for this route in the current public rollout.
      responses:
        '200':
          description: Canonical source spell type labels.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicSpellType'
              examples:
                default:
                  value:
                    - Adventurer Spells
                    - Guild Spells
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/spells:
    get:
      operationId: listSpells
      tags:
        - Public Spells
      summary: List active spells
      description: >-
        Returns a paginated list of active public spells. When q is present, results are filtered by full-text search over spell_name, description, and archmagisters_counsel, then ordered by relevance, spell_name case-insensitively ascending, and spell_id ascending. When q is empty, results use alphabetical ordering only. Only active spells are returned. No authentication is required for this route in the current public rollout.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SpellQuery'
        - $ref: '#/components/parameters/SpellNameFilter'
        - $ref: '#/components/parameters/SpellTypeFilter'
        - $ref: '#/components/parameters/SourceNameFilter'
        - $ref: '#/components/parameters/SourceSpellTypeFilter'
      responses:
        '200':
          description: Paginated public spell results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSpellPage'
              examples:
                default:
                  value:
                    items:
                      - spell_id: 019e07b7-7aa5-7bd9-b4b4-b1bfd2c74e46
                        spell_name: Absorb Weapon
                        spell_types:
                          - Adventurer Spells
                        keywords:
                          - Damage
                          - Defense
                        full_cost: 1 point/level.
                        casting_roll: None.
                        range: Touch.
                        duration: Indefinite.
                        description: >-
                          You can harmlessly absorb a weapon you are touching.
                        statistics: >-
                          Payload 1 (Accessibility, Only a single object, -10%).
                        archmagisters_counsel: Use this when hidden steel matters.
                        source_lineage:
                          source_spell_name: Absorb Weapon
                          source_spell_types:
                            - Adventurer Spells
                    total: 2193
                    page: 1
                    pageSize: 50
                    totalPages: 45
                    q: hidden steel
                    name: Abs
                    type: Adventurer Spells
                    sourceName: Absorb
                    sourceType: Adventurer Spells
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/spells/{spell_id}:
    get:
      operationId: getSpellById
      tags:
        - Public Spells
      summary: Get active spell by ID
      description: >-
        Returns one active public spell by stable spell_id. spell_id is the stable
        identifier; spell_name is display text and may change. Only active spells
        are returned. No authentication is required for this route in the
        current public rollout. Browser clients from approved World of Aletheia
        origins may read this endpoint cross-origin for saved spell-list
        hydration via the documented CORS response headers.
      parameters:
        - $ref: '#/components/parameters/SpellId'
      responses:
        '200':
          description: Public spell record.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSpell'
              examples:
                default:
                  value:
                    spell_id: 019e07b7-7aa5-7bd9-b4b4-b1bfd2c74e46
                    spell_name: Absorb Weapon
                    spell_types:
                      - Adventurer Spells
                    keywords:
                      - Damage
                      - Defense
                    full_cost: 1 point/level.
                    casting_roll: None.
                    range: Touch.
                    duration: Indefinite.
                    description: >-
                      You can harmlessly absorb a weapon you are touching.
                    statistics: >-
                      Payload 1 (Accessibility, Only a single object, -10%).
                    archmagisters_counsel: Use this when hidden steel matters.
                    source_lineage:
                      source_spell_name: Absorb Weapon
                      source_spell_types:
                        - Adventurer Spells
        '400':
          description: The supplied spell_id is not a valid UUIDv7 string.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidSpellId:
                  value:
                    error: invalid_request
                    message: spell_id must be a valid UUIDv7.
        '404':
          description: No active public spell exists for the supplied spell_id.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                spellNotFound:
                  value:
                    error: not_found
                    message: Spell not found.
        '429':
          description: >-
            Request rate limit exceeded. The public spell routes are currently
            intended to be rate limited at the Cloudflare edge. Compatible edge
            configuration must preserve this route's CORS policy for browser
            consumers.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rateLimited:
                  value:
                    error: rate_limited
                    message: Too many requests. Please retry later.
        '503':
          description: >-
            The public spell read service is temporarily unavailable. Clients
            should treat this as retryable rather than a permanent contract
            failure.
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                serviceUnavailable:
                  value:
                    error: service_unavailable
                    message: Public spell data is temporarily unavailable.
    options:
      operationId: preflightSpellById
      tags:
        - Public Spells
      summary: CORS preflight for spell detail
      description: >-
        Returns the spell detail CORS policy for approved browser origins. No
        authentication is required.
      parameters:
        - $ref: '#/components/parameters/SpellId'
      responses:
        '204':
          description: CORS policy for approved browser origins.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Vary:
              $ref: '#/components/headers/VaryOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
  /api/v1/spell-suggestions:
    get:
      operationId: suggestSpells
      tags:
        - Public Spells
      summary: Suggest active spells
      description: >-
        Returns type-ahead suggestions for active public spells. Suggestions use the
        same literal case-insensitive spell_name prefix search, optional type filter,
        wildcard escaping, and ordering rules as the paginated spell list. Empty,
        missing, or whitespace-only q returns an empty array. No authentication is
        required for this route in the current public rollout.
      parameters:
        - $ref: '#/components/parameters/SuggestionQuery'
        - $ref: '#/components/parameters/SpellTypeFilter'
        - $ref: '#/components/parameters/SourceNameFilter'
        - $ref: '#/components/parameters/SourceSpellTypeFilter'
        - $ref: '#/components/parameters/SuggestionLimit'
      responses:
        '200':
          description: Matching public spell suggestions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicSpellSuggestion'
              examples:
                default:
                  value:
                    - spell_id: 019e07b7-7aa5-7bd9-b4b4-b1bfd2c74e46
                      spell_name: Absorb Weapon
                      spell_types:
                        - Adventurer Spells
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  parameters:
    SpellId:
      name: spell_id
      in: path
      required: true
      description: >-
        Stable spell identifier. Consumers should treat spell_id as the durable key
        for navigation, caching, and exact lookup. UUIDv7 strings are accepted
        case-insensitively and normalized by the implementation before lookup.
      schema:
        $ref: '#/components/schemas/SpellId'
    Page:
      name: page
      in: query
      required: false
      description: >-
        1-based page number. Invalid, missing, or below-range values normalize to 1.
        Fractional values are floored. If the requested page is greater than the last
        available page, the response returns the last available page instead of an
        empty out-of-range page.
      schema:
        type: number
        default: 1
    PageSize:
      name: pageSize
      in: query
      required: false
      description: >-
        Page size. Missing or non-finite values normalize to 50. Values below 1
        normalize to 1. Values above 100 clamp to 100. Fractional values are floored.
      schema:
        type: number
        default: 50
    SpellQuery:
      name: q
      in: query
      required: false
      description: >-
        Trimmed full-text search text for list responses only. The implementation
        searches spell_name, description, and archmagisters_counsel. Empty string
        means no full-text filter. User input is normalized into a conservative FTS
        query rather than being treated as raw SQLite MATCH syntax.
      schema:
        type: string
        default: ''
    SpellNameFilter:
      name: name
      in: query
      required: false
      description: >-
        Trimmed literal case-insensitive prefix search on spell_name. Empty string
        means no spell-name prefix filter. SQL wildcard characters in user input are
        escaped and must not act as wildcard syntax. This filter may be combined with
        q.
      schema:
        type: string
        default: ''
    SpellTypeFilter:
      name: type
      in: query
      required: false
      description: >-
        Trimmed case-insensitive exact match on a spell type label. Empty string means
        no type filter. Responses preserve canonical spell type casing.
      schema:
        type: string
        default: ''
    SourceNameFilter:
      name: sourceName
      in: query
      required: false
      description: >-
        Trimmed literal case-insensitive prefix search on source_lineage.source_spell_name.
        Empty string means no source-name filter. SQL wildcard characters in user
        input are escaped and must not act as wildcard syntax.
      schema:
        type: string
        default: ''
    SourceSpellTypeFilter:
      name: sourceType
      in: query
      required: false
      description: >-
        Trimmed case-insensitive exact match on a source_lineage.source_spell_types
        label. Empty string means no source type filter.
      schema:
        type: string
        default: ''
    SuggestionQuery:
      name: q
      in: query
      required: false
      description: >-
        Trimmed literal case-insensitive prefix search on spell_name for type-ahead.
        Missing, empty, or whitespace-only values return an empty array. SQL
        wildcard characters in user input are escaped and must not act as wildcard
        syntax.
      schema:
        type: string
        default: ''
    SuggestionLimit:
      name: limit
      in: query
      required: false
      description: >-
        Maximum number of suggestions. Missing or non-finite values normalize to 10.
        Values below 1 normalize to 1. Values above 20 clamp to 20. Fractional values
        are floored.
      schema:
        type: number
        default: 10
  responses:
    TooManyRequests:
      description: Request rate limit exceeded. The public spell routes are currently intended to be rate limited at the Cloudflare edge.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rateLimited:
              value:
                error: rate_limited
                message: Too many requests. Please retry later.
    ServiceUnavailable:
      description: The public spell read service is temporarily unavailable. Clients should treat this as retryable rather than a permanent contract failure.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serviceUnavailable:
              value:
                error: service_unavailable
                message: Public spell data is temporarily unavailable.
  headers:
    AccessControlAllowOrigin:
      description: >-
        Reflected allowed browser origin for cross-origin spell detail reads.
        Current allowlist includes `https://worldofaletheia.com`,
        `http://localhost:4321`, `http://127.0.0.1:4321`,
        `http://localhost:8788`, and `http://127.0.0.1:8788`.
      schema:
        type: string
    VaryOrigin:
      description: Indicates that caches must vary this response by `Origin`.
      schema:
        type: string
        const: Origin
    AccessControlAllowMethods:
      description: Allowed CORS methods for spell detail reads.
      schema:
        type: string
        const: GET, OPTIONS
    AccessControlAllowHeaders:
      description: Allowed request headers for spell detail reads.
      schema:
        type: string
        const: Accept, Content-Type
    RetryAfter:
      description: Optional hint for when the client may retry the request.
      schema:
        oneOf:
          - type: integer
            minimum: 0
          - type: string
  schemas:
    SpellId:
      type: string
      format: uuid
      pattern: '^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-7[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$'
      description: Stable UUIDv7 spell identifier.
      examples:
        - 019e07b7-7aa5-7bd9-b4b4-b1bfd2c74e46
    PublicSpellType:
      type: string
      minLength: 1
      description: Public spell type label.
      examples:
        - Adventurer Spells
    PublicSpell:
      type: object
      additionalProperties: false
      required:
        - spell_id
        - spell_name
        - spell_types
        - keywords
        - archmagisters_counsel
        - source_lineage
        - full_cost
        - casting_roll
        - range
        - duration
        - description
        - statistics
      properties:
        spell_id:
          $ref: '#/components/schemas/SpellId'
        spell_name:
          type: string
          minLength: 1
          description: Public display name. Not guaranteed unique and not a stable identifier.
        spell_types:
          type: array
          minItems: 1
          description: Ordered active spell type labels in canonical membership order.
          items:
            $ref: '#/components/schemas/PublicSpellType'
        keywords:
          type: array
          description: Ordered public keyword labels.
          items:
            type: string
        archmagisters_counsel:
          type: string
          description: Public lore/advice text for the spell.
        source_lineage:
          type: object
          additionalProperties: false
          required:
            - source_spell_name
            - source_spell_types
          properties:
            source_spell_name:
              type: string
              minLength: 1
            source_spell_types:
              type: array
              minItems: 1
              items:
                type: string
        full_cost:
          type: string
          description: Public full cost text.
        casting_roll:
          type: string
          description: Public casting roll text.
        range:
          type: string
          description: Public range text.
        duration:
          type: string
          description: Public duration text.
        description:
          type: string
          description: Public description text. Empty string is allowed.
        statistics:
          type: string
          description: Public statistics text.
    PublicSpellSuggestion:
      type: object
      additionalProperties: false
      required:
        - spell_id
        - spell_name
        - spell_types
      properties:
        spell_id:
          $ref: '#/components/schemas/SpellId'
        spell_name:
          type: string
          minLength: 1
          description: Public display name for type-ahead results.
        spell_types:
          type: array
          minItems: 1
          description: Ordered active spell type labels in canonical membership order.
          items:
            $ref: '#/components/schemas/PublicSpellType'
    PublicSpellPage:
      type: object
      additionalProperties: false
      required:
        - items
        - total
        - page
        - pageSize
        - totalPages
        - q
        - name
        - type
        - sourceName
        - sourceType
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublicSpell'
        total:
          type: integer
          minimum: 0
          description: Total active spells matching filters before page slicing.
        page:
          type: integer
          minimum: 1
          description: Normalized 1-based page number returned by the API.
        pageSize:
          type: integer
          minimum: 1
          description: Normalized page size returned by the API.
        totalPages:
          type: integer
          minimum: 0
          description: Total page count for the filtered result set, or 0 when total is 0.
        q:
          type: string
          description: Normalized full-text search text used by the API.
        name:
          type: string
          description: Normalized spell-name prefix filter used by the API. Empty string means no filter.
        type:
          type: string
          description: Normalized spell type filter used by the API. Empty string means no filter.
        sourceName:
          type: string
          description: Normalized source spell name prefix used by the API.
        sourceType:
          type: string
          description: Normalized source spell type filter used by the API. Empty string means no filter.
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Stable machine-readable error code.
        message:
          type: string
          description: Human-readable error summary.
